.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  padding: 20px;

  .raca-container {
    background-color: #f8f7f3;
    padding: 50px;
    border-radius: 10px;

    .align-paginator {
      margin-top: 30px;
    }

    .align-raca {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;

      .raca-item {
        flex: 1 1 calc(50% - 10px); 
        max-width: calc(50% - 10px);
        box-sizing: border-box;

        .card-footer {
          display: flex;
          justify-content: center;
          width: 100%;
          padding-top: 5px;
        }

        .image-container {
          background-color: #f1f1f1;
          width: 100%;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;

  mat-card-header {
    flex-grow: 1;
    padding: 5px;
  }

  mat-card-title {
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    max-height: 50px;
    line-height: 1.3;
  }

  mat-card-subtitle {
    font-size: 0.75rem;
    color: #555;
    height: 100px;
    max-height: 100px;
    line-height: 1.5;
  }
}

mat-paginator {
  border-radius: 15px;
}

@media (max-width: 768px) {
  .main-container {
    padding: 10px;
    .raca-container {
      padding: 20px;
      .align-raca {
        gap: 10px;
        .raca-item {
          flex: 1 1 calc(50% - 32px); 
          width: calc(50% - 32px);
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .main-container {
    .raca-container {
      .align-raca {
        .raca-item {
          flex: 1 1 calc(16.666% - 32px); 
          max-width: calc(16.666% - 32px);
        }
      }
    }
  }
}
