<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="main-container">
  <div class="raca-container">
    <div>
      <h4>Desafio Front-End</h4>
    </div>
    <div class="align-raca">
      <div *ngFor="let raca of paginaAtual" class="raca-item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ raca.name }}</mat-card-title>
            <mat-card-subtitle>{{ raca.temperament }}</mat-card-subtitle>
          </mat-card-header>
          <div class="image-container">
            <img
              mat-card-image
              [src]="
                'https://cdn2.thedogapi.com/images/' +
                raca.reference_image_id +
                '.jpg'
              "
              alt="{{ raca.name }}"
            />
          </div>
          <mat-card-footer class="card-footer">
            <mat-chip-set aria-label="pet">
              <mat-chip (click)="abrirDetalhes(raca)">Ver detalhes</mat-chip>
            </mat-chip-set>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="align-paginator">
      <mat-paginator
        [length]="totalRacas"
        [pageSize]="pageSize"
        (page)="mudarPagina($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
