<mat-card *ngIf="raca">
  <mat-card-header>
    <mat-card-title>{{ raca.nome }}</mat-card-title>
    <mat-card-subtitle>{{ raca.origem }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="raca.imagem?.url" alt="{{ raca.nome }}" />
  <mat-card-content>
    <p>Temperamento: {{ raca.temperamento }}</p>
    <p>Peso: {{ raca.peso.metric }} kg</p>
    <p>Altura: {{ raca.altura.metric }} cm</p>
    <p>Expectativa de vida: {{ raca.expectativa_vida }}</p>
  </mat-card-content>
</mat-card>
